* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Readex Pro", serif;
  color: white;
  background-image: url("images/cloud_background2.png");
  background-color: #86ba48;
  background-size: cover;
  background-repeat: no-repeat;
}

#overlay {
  position: fixed;
  width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, #ffc502, yellow);
  z-index: 5;
}

#duck_splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#duck_splash img {
  width: 30%;
  max-width: 50%;
  height: auto;
  align-items: middle;
}

#container {
  margin: auto;
  min-width: 365px;
  max-width: 365px;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#player_name_area {
  min-height: 10em;
  background-image: url("/images/tent.gif");
  width: 355px;
  height: auto;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

#player_name_area h1 {
  text-align: center;
  padding-top: 20%;
}

#alert_time_area {
  min-height: 5em;
  max-width: 21.5em;
  background-color: #ffc502;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-repeat: no-repeat;
}

#game_area {
  min-height: 20em;
  max-width: 19em;
  color: #ff0000;
  background-color: #bce8e8;
  border-left: 20px solid #ffc502;
  border-right: 20px solid #ffc502;
  align-items: center;
 
}

#alert-message {
  text-align: center;
}

h4 {
  font-size: 25px;
  color: #ff0000;
}

.form {
  padding: 15%;
}

.form input {
  width: 100%;
  height: 30px;
  border: 2px solid #ff0000;
  border-radius: 10px;
  padding: 5%;
  font-size: 25px;
  margin-top: 15px;
  display: block;
}

.form button {
  height: 3em;
  width: 8em;
  color: white;
  background-color: #ff0000;
  border: 10px solid #ff0000;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 15px;
  
}

.vibrate-1{
  -webkit-animation:vibrate-1 .3s linear infinite both;
  animation:vibrate-1 .3s linear infinite both;
}



#score_area {
  min-height: 7em;
  max-width: 21.5em;
  background-image: url("images/score_bg2.svg");
  background-size: cover;
}

#buttons_area {
  min-height: 5em;
  max-width: 21.5em;

  display: flex;
}

.button {
  color: white;
  width: 50%;
  height: 80px;
  font-size: 1rem;
  cursor: pointer;
  
}

#start_button {
  background-color: #4ed000;
  border: 10px solid #4ed000;
  border-bottom-left-radius: 20px;
}

#reset_button {
  background-color: #0093e7;
  border: 10px solid #0093e7;
  border-bottom-right-radius: 20px;
}

#game_play {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 18px;
}


.duck {
  height: 5rem;
  width: same-as-height;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="84" height="48" viewBox="0 0 24 24"><g fill="none" stroke="%23000" stroke-width="2"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'),
    auto;
}

/*//ANIMATED DUCKIES////*/

.animate .duck {
  animation: moveDuck 5s linear infinite;
}

@keyframes moveDuck {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*///END ANIMATED DUCKIES///*/

input[type="checkbox"] {
  display: none;
}

label {
  display: block;
  position: relative;
}

label:before {
  content: " ";
  display: block;
  position: absolute;
  text-align: center;
}

:checked + label img {
  transition: opacity;
  transition-duration: 2s;
  opacity: 0;
  filter: grayscale(100%);
}

/* ///////////////// */
/* ///////////////// */
/* //////flying cloud////// */

.cloud {
  width: 150px;
  height: 150px;
  z-index: -1;
  background-size: 100% 100%;
  position: absolute;
}

.cloud:nth-child(1) {
  margin-top: 10px;
  background-image: url(/images/cloud.svg);
  animation: move1 10s infinite;
}

.cloud:nth-child(2) {
  margin-top: 200px;
  background-image: url(/images/cloud.svg);
  animation: move2 180s infinite;
}

.cloud:nth-child(3) {
  margin-top: 350px;
  background-image: url(/images/cloud.svg);
  animation: move3 180s infinite;
}

.cloud:nth-child(4) {
  margin-top: 100px;
  background-image: url(/images/cloud.svg);
  animation: move4 180s infinite;
}

@keyframes move1 {
  from {
    margin-left: 90%;
  }
  to {
    margin-left: -3%;
  }
}

@keyframes move2 {
  from {
    margin-left: 1%;
  }
  to {
    margin-left: 95%;
  }
}

@keyframes move3 {
  from {
    margin-left: 5%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes move4 {
  from {
    margin-left: 95%;
  }
  to {
    margin-left: 2%;
  }
}

/* //counter////// */

#time {
  font-size: 30px;
  text-align: center;
  text-align: center;
}

span {
  font-size: 30px;
  margin: auto;
  font-size: 30px;
  padding: 40%;
  text-align: center;
}

/* //score////// */
p {
  color: white;
  margin: auto;
  width: 30%;
  height: 50%;
  background-color: red;
  border: 10px solid #ffc502;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/*//+1 animation//// */
.plus-one {
  color: red;
  font-size: 50px;
  width: 100%;
  height: 100%;
  margin-left: -15%;
  position: absolute;
}

#underlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* POPUPS */
#popup {
  display: none;
  position: fixed;
  min-width: 365px;
  max-width: 365px;
  top: 48%;
  left: 50%;
  transform: translate(-55%, -50%);
  background-color: #fff;
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
  z-index: 9999;
}

#popup_text {
  color: black;
  margin: 5%;
}

#popup.show {
  display: block;
}

.popup-won {
  position: fixed;
  top: 48%;
  left: 50%;
  min-width: 365px;
  max-width: 365px;
  transform: translate(-50%, -50%);
  background-color: #ffc502;
  border: 4px solid red;
  border-radius: 20px;
  padding: 20px;
  z-index: 999; 
}

.closepopupsButtons {
  color: white;
  font-style: bold;
  background-color: red;
  border: 2px solid red;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  float: right;
  margin-top: -5px;
}

#duckieWin {
  width: auto;
  height: 360px;
  padding: 20px;
  text-align: center;
}

.popup-lose {
  position: fixed;
  top: 48%;
  left: 50%;
  min-width: 365px;
  max-width: 365px;
  transform: translate(-50%, -50%);
  background-color: #ffc502;
  border: 4px solid red;
  border-radius: 20px;
  padding: 20px;
  z-index: 999;  
}

#duckieLose {
  width: auto;
  height: 360px;
  padding: 20px;
  text-align: center;
}
/* end popups */

/* music player */
.music-player-container {
  display: flex;
  position: relative;
  right: 290px;
}

audio {
  width: 100px;
  height: 60px;
}

/* RULES POPUP*/
#rules-popup {
  display: none;
  position: fixed;
  min-width: 365px;
  max-width: 365px;
  top: 48%;
  left: 50%;
  transform: translate(-55%, -50%);
  background-color: #fff;
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
  z-index: 9999;
}

.rules-popup-text {
  color: red;
  margin: 5%;
  text-align: left;
}

.rules-popup-text2{
   color: black;
   margin-left: 5%;
   width: 80%;
}

.rules-popup-text3{
  color: orange;
   margin-left: 5%;
   padding-top: 2%
   ;
}

#popup-rules.show {
  display: block;
}
/* END OF RULES POPUP */

